{% extends "index.html" %}

{% block drawcode %}
<script>
    $(document).ready(function() {
        drawMap();
        var img;

        function callback(canvasOverlay, params) {
            var ctx = params.canvas.getContext('2d');
            if (!img) {
                img = document.createElement('img');
                img.onload = drawImg;
                img.src = "/static/07gn1_3875.png";
            } else {
                drawImg();
            }

            function drawImg() {
                ctx.clearRect(0, 0, params.canvas.width, params.canvas.height);
                ctx.fillStyle = "rgba(255,116,0, 0.2)";
                data.map(function (d, i) {
                    if (params.bounds.contains([d[0], d[1]])) {
                        dot = canvasOverlay._map.latLngToContainerPoint([d[0], d[1]]);
                        ctx.beginPath();
                        ctx.arc(dot.x, dot.y, 3, 0, Math.PI * 2);
                        ctx.fill();
                        ctx.closePath();
                    }
                });
            }
        };
        L.canvasOverlay()
            .drawing(callback)
            .addTo(map);

        var bounds = L.latLngBounds(lat_lng(741336.511, 7021994.839),
                                    lat_lng(749860.582, 7032589.399));
        L.imageOverlay("/raster/png", bounds).addTo(map);
    });
</script>
{% endblock drawcode %}
